<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.micro.mapper.BBidInfoMapper">

    <resultMap id="BaseResultMap" type="com.micro.entity.BBidInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="loanId" column="loan_id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="bidMoney" column="bid_money" jdbcType="DECIMAL"/>
            <result property="bidTime" column="bid_time" jdbcType="TIMESTAMP"/>
            <result property="bidStatus" column="bid_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,loan_id,uid,
        bid_money,bid_time,bid_status
    </sql>
    <select id="sumSales" resultType="java.math.BigDecimal">
        select sum(bid_money) from p2p.b_bid_info
    </select>
    <select id="queryInvestSum" resultType="com.micro.vo.InvestRankVO">
        select uu.phone as phone, sum(bid_money) as money from p2p.b_bid_info bi, p2p.u_user uu
        where bi.uid = uu.id group by phone order by money desc
    </select>
</mapper>
